body{
 font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ex-row{
    display: flex;
    width: 30rem;
    justify-content: space-between;
}
.total-div{
    display: flex;
    width: 23rem;
    justify-content: space-between;
}
.action-div{
    width: 10rem;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}
.ex-title{
    margin-top: 2rem;
}
.ex-amount{
    margin-top: 1rem;
}
.category-div{
    margin-top: 1rem;
}
.add-btn{
    margin-top: 1rem;
}